<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android-custom-variant">
    <application
        android:allowBackup="true"
        android:label="android-custom-variant-kts"
        android:supportsRtl="true">
    </application>
</manifest>
